# Python
__pycache__/
*.py[cod]

# Packaging
*.egg-info/
build/
dist/

# Environments
.venv/
.conda/

# Tests / tools
.pytest_cache/
.ruff_cache/

# Project data
/data/
/experiments/

# VS code
.vscode/

# Ipynb files
console.ipynb
